

<div class="container">


  <div class="email"><h1>Emails</h1>  <p id="notice"><%= notice %></p></div>
  <div class="container-parts">
    <table class="table">
      <thead>
        <tr>
          <th>Object</th>
          <!-- <th>Body</th>
          <th>Read</th> -->
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody  class="tbody">
        <% @emails.each do |email| %>
          <tr>
            <% if email.read %>
              <td class="deco-none"><%= link_to email.object, email, remote: true, class:"unbold" %></td>
            <% else %>
              <td><strong><%= link_to email.object, email, remote: true, class:"unbold" %></strong></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>

    </table>
    <div id="email-body" style="display:none;" class="content"></div>
  </div>

<br>
<div class="new-email">
  <strong><%= link_to 'New Email', new_email_path %></strong>
</div>
</div>
